<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChatEmotion_0</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_1</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_2</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_3</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_4</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_5</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_6</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_7</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_8</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_9</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_10</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_11</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_12</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_13</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_14</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_15</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_16</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_17</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_18</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_19</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_20</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_21</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_22</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_23</key>
	<string>[del_]</string>
	<key>ChatEmotion_24</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_25</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_26</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_27</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_28</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_29</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_30</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_31</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_32</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_33</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_34</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_35</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_36</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_37</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_38</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_39</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_40</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_41</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_42</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_43</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_44</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_45</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_46</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_47</key>
	<string>[del_]</string>
	<key>ChatEmotion_48</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_49</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_50</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_51</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_52</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_53</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_54</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_55</key>
	<string>[滑稽]</string>
	<key>ChatEmotion_56</key>
	<string>[del_]</string>
</dict>
</plist>
